<!DOCTYPE html>

<header>
	<meta charset="UTF-8"><title>Home</title>

</header>

<head>
	<script src="https://appsforoffice.microsoft.com/lib/beta/hosted/office.js" type="text/javascript"></script>
	<script src="https://unpkg.com/gethue/lib/components/SqlScratchpadWebComponent.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<section class="container">
	<div class="left-half ">

		<article>
			<h1>Presentation Slides Box</h1>
			<br>

			<iframe src="https://rutgersconnect-my.sharepoint.com/:p:/g/personal/sn671_scarletmail_rutgers_edu/Ee3J_vUTC7ZPsPDIBPd1ldsBp3tTVE6540vZhSwlFHM_iw?e=AsbfrJ&amp;action=embedview&amp;wdAr=1.7777777777777777" width="610px" height="367px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
			<p>This is where the normal presentation slide will be and include the links to shift through the adjacent window tabs.</p>
			<br>
			<p>Content:</p>
			<li class="selected"> <a href="#image1">Image</a></li>
			<p>This is the Hill Center on Busch Campus!</p>
			<li>
				<a href="#video2">Video</a>
				<p>This is the Rutgers Alma Mater!</p>
			</li>
			<li>
				<a href="#pdf3">Word Doc</a>
				<p>This is a Word Document that can updates when edited from Microsoft 365!</p>
			</li>
			<li>
				<a href="#code4">Code Snippet/Webpage Link</a>
				<p>Embed python editor and interpreter from Trinket.io into iframe</p>
				<p>Can be used to embed a full wesite containing all relevant content.</p>
				<p>SQL scratchpad: https://docs.gethue.com/developer/components/scratchpad/</p>
				<p></p>
			</li>
		</article>
	</div>
	<div class="right-half ">
		<div class="tabbed-module">
			<div class = "style_nav">
			<nav>
				<ul class="tabs">
					<li class="selected">
						<a href="#image1">Image</a>
					</li>
					<li>
						<a href="#video2">Video</a>
					</li>
					<li>
						<a href="#pdf3">Word Doc</a>
					</li>
					<li>
						<a href="#code4">Code</a>
					</li>
				</ul>
			</nav>
			</div>
			<div class="tabs-content">
				<div id="image1" class="selected">
					<img alt="Hill Center" src="https://www.cs.rutgers.edu/images/computer-science.jpg" />
				</div>
				<div id="video2">
					<iframe width="420" height="315"
							src="https://www.youtube.com/embed/XQAFtePwIf8">
					</iframe>
				</div>
				<div id="pdf3">
					<iframe src="https://rutgersconnect-my.sharepoint.com/:w:/g/personal/sn671_scarletmail_rutgers_edu/EQqhn6mVbSJAiiE-cgsKNEgB4NV7bh55LOX3xGIgr1vlFg?e=kSeKZi&amp;action=embedview" width="476px" height="288px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
				</div>
				<div id="code4">
					<!--<pre><code>&lt;strong&gt;FOO&lt;/strong&gt;</code></pre>-->
					<iframe src="https://trinket.io/embed/python/8dd1f8bb26" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

					<iframe src="https://www.jdoodle.com/iembed/v0/hyN" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

					<div style="position: absolute; height: 100%; width: 50%">
						<sql-scratchpad api-url="https://demo.gethue.com" username="demo" password="demo" dialect="mysql" />
					</div>
					<!-- SELECT * FROM Students limit 5; -->

					<!--<img alt="image 4" src="https://pixabay.com/static/uploads/photo/2010/12/06/22/fighter-jet-1013_960_720.jpg" />-->
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{{ url_for('static', filename='js/js.js') }}" ></script>
</body>